<article id="faq">
<h1>Frequency Asked Questions</h1>
This is a simple list of frequently asked questions on Fiction Dock.
<section>
<h2>What is Fiction Dock?</h2>
Fiction Dock is a better place for fan fiction, with all the features you would
expect from such a site, as well as a simple, aesthetically-pleasing design.
The website provides powerful search features, so you can find stories based on
franchise, characters, or ships (no matter how weird those ships are).
</section>
<section>
<h2>What are the rules?</h2>
<a href="/rules">Here</a>
</section>
<section>
<h2>Why are franchises called franchises? Wouldn't "universes" be a better term?</h2>
It would. We are fixing this in a future update.
</section>
<section>
<h2>People can see the source code of your website. Doesn't that make it easier for my info to get stolen?</h2>
Security is not tied to the visibility of code. In fact, some of the most
secure projects in the world (like GNU/Linux, FreeBSD, and the GNU privacy 
guard) are open source.
<p>
Your information is just as secure here as it is on any other website.
</section>
<section>
<h2>Since people can see your code, aren't you afraid they may steal it?</h2>
Fiction Dock is licensed under the GNU Affero License. Essentially, this means
that anybody who tries to steal our code must release their changes under the
exact same license. In this way, we make sure that our code is shared and
not stolen.
</section>

<section>
<h2>I don't like your editor, can I use a different one?</h2>
Fiction Dock uses Markdown as our source language. A variety of Markdown
editors exist.
</section>

<section>
<h2>Why don't your stories have cover images?</h2>
The stories on FictionDock do not have cover images because the people who
run it are two college students who cannot afford the hosting or bandwidth.
</section>
<section>
<h2>I want to give you money to afford the hosting or bandwidth.</h2>
<ol>
  <li> Nobody has ever asked this
  <li> That is not a real question
</ol>
</section>
<section>
<h2>No, really. Where can I give you guys money?</h2>
As of right now, nowhere. We may one day get a patreon up or something.
</section>
</article>
