<article id="rules">
<h1>Rules</h1>
<section id="rules-intro">
<h2>Introduction</h2>
  <%= render 'intro' %>
  </section>
  <section id="franchises">
  <h2>Franchises</h2>
  <%= render 'franchises' %>
  </section>
  <section id="characters">
  <h2>Characters</h2>
  <%= render 'characters' %>
  </section>
</article>
