<div class="comments-container">

  <h4><%= t(".comments") %></h4>

  <ul class="comments-list">
    <% unless @comments.count === 0 %>
      <%= render @comments.where("comments.id IS NOT NULL") %>
    <% else %>
      <p class="fd-list-empty-note"><%= t(".no_comments_yet") %></p>
    <% end %>
  </ul>

  <% if current_user %>
    <%= render 'comments/form' %>
  <% end %>
  
</div>
