<ul class="notifications">
  <% if !@notifications.empty? %>
    <%= render 'notifications' %>
  <% else %>
    <p class="fd-list-empty-note"><%= t(".no_unread_notifications") %></p>
  <% end %>
</ul>
