<li class="notification-item" data-id="<%= notification.id %>">
  <div class="notification-body">
    <%= render "#{notification.event}", note: notification %>
  </div>
  <div class="notification-time">
    <%= t("time_ago", time: time_ago_in_words(notification.created_at)) %>
  </div>
</li>
