<ul class="notifications">
  <h1><%= t(".notifications") %></h1>
  
  <% unless current_user.notifications.unread.empty? %>
    <%= render current_user.notifications.unread %>
  <% else %>
    <p class="fd-list-empty-note"><%= t(".no_unread_notifications") %></p>
  <% end %>
</ul>
