<%- title t(".notifications") %>

<ul class="notifications">
  <h1><%= t(".notifications") %></h1>
  
  <% unless @notifications.empty? %>
    <%= render @notifications %>
  <% else %>
    <%= t(".no_unread_notifications") %>
  <% end %>
</ul>
