<ul class="story-list">
  <% stories.each do |story| %>
    <li class="story-list-item">
      <p class="story-list-item-title"><%= link_to story.name, story %>
      <p class="story-list-item-blurb"><%= story.blurb %>
    </li>
  <% end %>
</ul>
