<h2 class="fiction-dock-logo logo-large">Fiction Dock</h2>

<h5 class="subheader"><%= t(".fiction_dock_tagline") %></h5>

<% if user_signed_in? && current_user.stories.exists? %>
  <h6>Your stories:</h6>
  <%= render partial: 'stories/story_stub', collection: current_user.stories.limit(5).reverse_order, as: :story %>
<% end %>
