<p class="fiction-dock-logo logo-large">Fiction Dock</p>

<div class="stats">
  <ul>
    <li>98<span>Franchises</span></li>
    <li>673<span>Stories</span></li>
    <li>125<span>Characters</span></li>
  </ul>
</div>
