<%- title t(".browse_franchises") %>
<span>Don't see a franchise? <%= link_to "Request its creation!", new_franchise_creation_request_path %></span>
<%= render "franchise_list", franchises: @franchises %>
