//
// Icon Font: <%= font_name %>
//

<%= font_face(url: "font-url", path: @font_path_alt) %>

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon {
  display: inline-block;
  font-family: "<%= font_name %>";
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-smoothing: antialiased;
}

<%= glyphs %>
