#forbidden-container{
  text-align: center;
  width: 100%;
  font-family: "Lucida Sans Typewriter", monospace;
}

#forbidden-label{
  text-align: center;
  padding-top: 30vh;
  color: #FF8888;
}
#forbidden-msg{
  padding-top: 5vh;
  text-align: center;
  font-size: 1.4rem;
}
