//
// Icon Font: fictiondockicons
//

@font-face {
  font-family: "fictiondockicons";
  src: font-url("fictiondockicons.eot");
  src: font-url("fictiondockicons.eot?#iefix") format("embedded-opentype"),
       font-url("fictiondockicons.woff") format("woff"),
       font-url("fictiondockicons.ttf") format("truetype"),
       font-url("fictiondockicons.svg#fictiondockicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fictiondockicons";
    src: font-url("fictiondockicons.svg#fictiondockicons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon {
  display: inline-block;
  font-family: "fictiondockicons";
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  font-variant: normal;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-smoothing: antialiased;
}

.icon-check:before { content: "\f100"; }
.icon-close:before { content: "\f101"; }
.icon-danger:before { content: "\f115"; }
.icon-down:before { content: "\f118"; }
.icon-ellipsis:before { content: "\f102"; }
.icon-eye:before { content: "\f103"; }
.icon-flame:before { content: "\f104"; }
.icon-gear:before { content: "\f105"; }
.icon-info:before { content: "\f116"; }
.icon-light-bulb:before { content: "\f106"; }
.icon-link:before { content: "\f107"; }
.icon-list-ordered:before { content: "\f108"; }
.icon-list-unordered:before { content: "\f109"; }
.icon-lock:before { content: "\f10a"; }
.icon-mark-github:before { content: "\f10b"; }
.icon-markdown:before { content: "\f10c"; }
.icon-pencil:before { content: "\f10d"; }
.icon-plus:before { content: "\f10e"; }
.icon-quote:before { content: "\f10f"; }
.icon-screen-full:before { content: "\f110"; }
.icon-screen-normal:before { content: "\f111"; }
.icon-search:before { content: "\f112"; }
.icon-tag:before { content: "\f113"; }
.icon-three-bars:before { content: "\f114"; }
.icon-warning:before { content: "\f117"; }
