// Screen width values
$mobile-width: 750px;
$laptop-width: 1000px;
$desktop-width: 1400px;


// Error colors
$color-success: #5bb289;
$color-info: #556db3;
$color-warning: #efb63e;
$color-danger: #cb2e32;

$color-tab-green: #17cd94;
