/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require medium-editor/medium-editor
 */


@import "scss-variables";

/* Selector for all elements, don't put anything here without a lot of thought first. */
/* Box-sizing set to border-box so padding doesn't cause things to go past their defined width/height. */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Styles applicable to all pages. */
html, body {
  font: 400 10px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  overflow-x: hidden;

  /* Fix for iOS Safari messing with the text size. */
  @media all and (max-device-width: $mobile-width) {
    -webkit-text-size-adjust: none;
  }
}

/* Removes margins from all header items. */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

/* Font sizing for all header elements. */
h1 {
  font-size: 6.0rem;
}

h2 {
  font-size: 5.4rem;
}

h3 {
  font-size: 4.8rem;
}

h4 {
  font-size: 3.6rem;
}

h5 {
  font-size: 1.8rem;
}

/* Removes margin from all paragraph, or "p" elements. */
p {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

a {
  color: #333;
}

/* Fix for WebKit lists. */
ul, ol, figure {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  padding: 0;
  margin: 0;
}

li {
  display: block;
}

/* Fix for WebKit search decorations. */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* Fix for Safari adding a box-shadow to text fields on iOS. */ 
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  -webkit-appearance: none;
  border: 1px solid #333;

  &:focus {
    outline: none;
  }
}

input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-color: transparent;
  opacity: 0.8;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

input,
textarea {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Fix for WebKit input text style. */
input, textarea, keygen, select, button {
  font: 400 inherit 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// Fix Firefox's ugly default select styling.
select {
  -moz-appearance: none;
}

#masthead {
  width: 100vw;
  min-height: calc(100vh - 105px);
  margin-top: 45px;

  @media all and (max-device-width: $mobile-width) {
    height: calc(100vh - 110px);
    margin-top: 50px;
  }
}
