@import "scss-variables";

#chapter-toolbar-left {
  li {
    font-size: 1.4rem;

    a {
      font-weight: 500;
      padding-right: 2px;
    }

    span {
      font-weight: 300;
    }
  }
}

.chapter-title {
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 5px;
}

.chapter-body {
  font-size: 10px;
  line-height: 3.0em;
  margin: 15px 0;

  p, ol, ul {
    margin-bottom: 20px;
  }

  > p, > strong, > blockquote {
    font-size: 1.6em;
  }

  p > br:only-child {
    display: none;
  }

  li {
    margin-left: 30px;
  }
}

.chapter-information {
  width: 100%;
  font-size: 1.4rem;
  padding: 10px 0;

  .chapter-author {
    opacity: 1;
    padding-bottom: 8px;
  }

  .chapter-published-date {
    opacity: 0.8;
  }
}

.fixed-chapter-nav {
  position: fixed;
  top: calc(50vh - 35px);
  height: 70px;
  width: 40px;
  border: 1px solid #c9c9c9;
  color: #333;
  opacity: 0.8;
  transition: opacity 200ms, width 300ms cubic-bezier(0, 0, 0, 1);
  overflow: hidden;
  background-color: #fff;

  a {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: #333;
    font-size: 1.3rem;
    font-weight: 600;
    transition: opacity 50ms;
    text-decoration: none;
    text-transform: uppercase;
    padding: 18px 15px;
  }

  span {
    position: absolute;
    font-size: 3.6rem;
    padding: 16px 10px;
    color: #666;
    opacity: 1;
    pointer-events: none;
    transition: opacity 100ms;
  }

  &:hover {
    opacity: 1;
    width: 100px;

    a {
      opacity: 1;
      transition: color 300ms 300ms;
    }

    span {
      opacity: 0;
    }
  }

  &.previous-chapter {
    left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: left;
    border-left: 0;
    
    span {
      left: 0;
    }
  }

  &.next-chapter {
    right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: right;
    border-right: 0;

    span {
      right: 0;
    }
  }
}
