@import "scss-variables";

// Title of the chapter's parent story.
.chapter-story-title {
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 30px;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Chapter number.
.chapter-number {
  margin-top: 5px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}

.chapter-title {
  font-weight: 600;
  margin-bottom: 5px;
}

.chapter-body {
  font-size: 1.6rem;
  line-height: 3.0rem;
  margin: 15px 0;

  p {
    margin-bottom: 15px;
  }
}

.pagination {
  width: 100%;
  height: 20px;
  margin-top: 40px;
  font-size: 1.6rem;
  text-align: center;
  position: relative;

  .pagination-left, .pagination-right {
    position: absolute;

    > a {
      text-decoration: none;
    }
  }

  .pagination-left {
    left: 2px;
  }

  .pagination-right {
    right: 2px;
  }
}

.chapter-information {
  width: 100%;
  font-size: 1.4rem;
  padding: 10px 0;

  .chapter-author {
    opacity: 1;
    padding-bottom: 8px;
  }

  .chapter-published-date {
    opacity: 0.8;
  }
}
