@import "scss-variables";

// Title of the chapter's parent story.
.chapter-story-title {
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 20px;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Chapter number.
.chapter-number {
  margin-top: 10px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
}

.chapter-title {
  font-weight: 600;
}

.chapter-body {
  font-size: 1.6rem;
  line-height: 3.0rem;

  p {
    margin-bottom: 15px;
  }
}
