.comments-container {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 80px;
  margin: auto;
  border-top: 1px solid #aaaab2;

  h4 {
    color: #aaaab2;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 1.2rem;
    padding-bottom: 10px;
  }

  textarea {
    width: 100%;
    resize: vertical;
    margin: auto;
    display: block;
    min-height: 75px;
    padding: 8px;
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  input[type=submit] {
    float: right;
    padding: 0;
  }
}

.comment {
  list-style: none;
  font-size: 1.2rem;
  margin-bottom: 35px;
}

.comment-meta {
  padding-bottom: 6px;

  a {
    font-weight: 500;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.comment-body {
  line-height: 1.6rem;

  p {
    margin-bottom: 12px;
  }
}
