@import "scss-variables";

// Only apply dark mode styles for "screen" devices, e.g. not print.
@media screen {
  body.dark-mode {
    background-color: #444;
    color: #fff;

    a, h1, h2, h3, h4, h5,
    #sign-in-container .sign-in-header h4,
    input, label {
      color: #fff;
    }

    input[type=text],
    input[type=email],
    input[type=password],
    input[type=checkbox],
    input[type=checkbox]:checked,
    input[type=number],
    textarea {
      border: 1px solid #fff;
      color: #fff;
      background-color: transparent;

      &:hover, &:focus {
        border: 1px solid #fff;
        color: #fff;
      }
    }

    input[type=submit] {
      color: #fff;
    }

    blockquote {
      border-left-color: #fff;
    }

    .select-container {
      > span {
        color: #fff;
        opacity: 0.8;
      }

      &:hover, &:focus {
        > span {
        color: #fff;
          opacity: 1;
        }
      }
    }

    select {
      color: #fff;
      border: 1px solid #fff;
      opacity: 0.8;

      &:hover, &:focus {
        border: 1px solid #fff;
        opacity: 1;
      }
    }

    #main-header {
      background-color: #333;
      border-bottom: 0;

      .header-item,
      .header-item a,
      .header-item input {
        color: #fff;
      }
    }

    .fiction-dock-wordmark {
      background-image: asset-url("fiction-dock-wordmark-darkmode.svg")
    }

    .fiction-dock-f {
      background-image: asset-url("fiction-dock-f-darkmode.svg")
    }

    #header-search input[type=search] {
      border: 1px solid rgba(#fff,0.7);

      &:focus {
        border: 1px solid #fff;
      }
    }

    #footer {
      background-color: #333;
      color: #fff;
      border-top-color: transparent;

      ul li,
      ul li a {
        color: #fff;
      }
    }

    .editor input[type=text] {
      border: 0px solid transparent;
    }

    .stats {
      li {
        border-right-color: #fff;
        color: #fff;
      }
      
      span {
        color: #fff;
      }
    }

    .fixed-chapter-nav {
      background-color: #444;
      border-color: #fff;
      color: #fff;

      span, a {
        color: #fff;
      }
    }

    .story-franchises-list li,
    .story-characters-list li,
    .story-ships-list li {
      border-color: rgba(#fff,0.4);
      
      &:hover {
        border-color: #fff;
      }
    }

    .tooltip, .flyout,
    #general-info-flyout {
      background-color: #444;
      border-color: rgba(255,255,255,0.15);

      &:before {
        border-bottom-color: rgba(255,255,255,0.3);
      }

      &:after {
        border-bottom-color: #444;
      }

      ul li a:hover,
      ul li input:hover {
        background-color: #666;
      }
    }

    #general-info.active,
    #header-notifications.active,
    #username:hover,
    .header-item-with-flyout:hover {
      background-color: #444;
    }

    .chapter-list .add-new-chapter a {
      color: #fff;
    }

    .fd-toolbar-container {
      color: #fff;
      border-bottom: 1px solid rgba(255,255,255,0.1);

      span {
        color: #fff;
      }

      .fd-toolbar-right input[type=submit] {
        color: #fff;
      }
    }

    .fd-list-header, .frontpage-list-header {
      border-bottom: 1px solid rgba(#fff,0.6);
    }

    .fd-list-item:not(:first-of-type) {
      border-top: 1px solid rgba(#fff,0.3);
    }

    #story-toolbar-right .add-to-bookshelves > div {
      background-color: #444;
      border-color: lighten(#444,20%);

      li:hover {
        background-color: lighten(#444,20%);
      }
    }

    .notification-item:hover {
      background-color: lighten(#444, 8%);
    }

    #header-notifications {
      .header-item-title {
        background-color: #222;
      }

      &.unread .header-item-title {
        background-color: #b70f3b;
      }

      &.active .header-item-title {
        background-color: #444;

        a {
          color: #fff;
        }
      }
    }

    #notifications-flyout {
      background-color: #444;
    }
  }
}
