@import "scss-variables";

#dark-mode-toggle {
  cursor: pointer;
  position: relative;
  margin-top: -4px;
  padding-right: 15px;

  > span {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.4rem;
  }
}

body.dark-mode {
  background-color: #444;
  color: #fff;

  * {
    transition: color 0ms;
  }

  a, h1, h2, h3, h4, h5,
  #sign-in-container .sign-in-header h4,
  input, label {
    color: #fff;
  }

  input[type=text],
  input[type=email],
  input[type=password],
  input[type=checkbox],
  input[type=checkbox]:checked {
    border: 1px solid #fff;
    color: #fff;

    &:hover, &:focus {
      border: 1px solid #fff;
      color: #fff;
    }
  }

  #main-header {
    background-color: #333;
    border-bottom: 0;

    .header-item,
    .header-item a,
    .header-item input {
      color: #fff;
    }
  }

  #footer {
    background-color: #333;
    color: #fff;
    border-top-color: transparent;

    ul li,
    ul li a {
      color: #fff;
    }
  }

  .fiction-dock-logo {
    color: #fff;

    @media all and (max-device-width: $mobile-width) {
      &.logo-header {
        color: transparent;

        &:first-letter {
          color: #fff;
        }
      }
    }
  }

  .stats {
    li {
      border-right-color: #fff;
      color: #fff;
    }
    
    span {
      color: #fff;
    }
  }

  .tooltip, .flyout,
  #general-info-flyout {
    background-color: #444;
    border-color: rgba(255,255,255,0.15);

    &:before {
      border-bottom-color: rgba(255,255,255,0.3);
    }

    &:after {
      border-bottom-color: #444;
    }

    ul li a:hover,
    ul li input:hover {
      background-color: #666;
    }
  }

  #general-info.active,
  #username {
    background-color: #444;
  }

  .header-item-with-flyout::hover {
    background-color: #444;
  }

  .chapter-list .add-new-chapter a {
    color: #fff;
  }
}
