@import "scss-variables";

div.editor {
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding-bottom: 80px;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
          flex-flow: column wrap;
  padding-top: 75px;

  @media all and (max-width: $mobile-width) {
    width: calc(100vw - 40px);
    max-width: 100%;
    margin: 0 20px;
  }

  > .markdown {
    height: auto;
    width: 40vw;

    @media all and (max-width: $mobile-width) {
      width: 100%;
    }
  }

  input[type=text] {
    font-size: 4.8rem;
    border: transparent;
    font-weight: 600;
    border: none;
    width: 100%;
  }

  textarea {
    width: 100%;
    min-height: 60vh;
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 10px;
    white-space: pre-wrap;
    margin: 25px 0;
    height: 100%;
    resize: none;
    max-height: auto;

    &:hover, &:focus {
      border-color: transparent;
      outline: none;
    }
  }

  input[type=submit] {
    background-color: transparent;
    border: transparent;
    position: absolute;
    right: 0;
    font-size: 1.4rem;
    margin-top: 10px;

    &:focus {
      outline: none;
    }
  }
}
