@import "scss-variables";

.editor {
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 80px;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
          flex-flow: column wrap;

  @media all and (max-width: $mobile-width) {
    width: calc(100vw - 40px);
    max-width: 100%;
    margin: 0 20px;
  }

  > .markdown {
    height: auto;
    width: 40vw;

    @media all and (max-width: $mobile-width) {
      width: 100%;
    }
  }

  &.plain-editor {
    padding-top: 75px;

    input[type=text] {
      font-size: 4.8rem;
      border: transparent;
      font-weight: 600;
      border: none;
      width: 100%;
    }

    #plain-text-contenteditable {
      min-height: 25px;
      width: 100%;
      font-size: 1.6rem;
      line-height: 1.5;
      padding: 10px 0;
      white-space: pre-wrap;
      margin: 25px 0;

      &:focus {
        outline: none;
      }
    }

    textarea {
      display: none;

      &:hover, &:focus {
        border-color: transparent;
      }
    }
  }

  input[type=submit] {
    background-color: transparent;
    border: transparent;
    position: absolute;
    right: 0;
    font-size: 1.4rem;
    margin-top: 10px;

    &:focus {
      outline: none;
    }
  }
}

// Applies to all elements with contenteditable set to true.
// When the field is empty, the value of the placeholder attribute
// will be used as placeholder text.
[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  padding: 0 2px;
  transform: translateY(-3px);
  cursor: text;
  opacity: 0.7;
  font-style: italic;
}
