@import "scss-variables";

/* The following animations are used to move the error dialog down below the header, keep it there for 90% of the duration of the animation, then hide it again. */
@-webkit-keyframes alertAnimation {
  0% {
    display: block;
    -webkit-transform: none;
            transform: none;
  }

  5% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  95% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  99% {
    -webkit-transform: none;
            transform: none;
  }

  100% {
    display: none;
  }
}

@keyframes alertAnimation {
  0% {
    display: block;
    -webkit-transform: none;
            transform: none;
  }

  8% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  92% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  99% {
    display: block;
    -webkit-transform: none;
            transform: none;
  }

  100% {
    display: none;
  }
}

/* Generic alert container for all warnings/errors/successful actions. */
.alert {
  animation: alertAnimation 6000ms linear 300ms 1 normal forwards;
    -webkit-animation: alertAnimation 6000ms linear 300ms 1 normal forwards;
  transform: translateY(-45px);

  color: #fff;
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  height: 45px;
  left: 0;
  line-height: 20px;
  margin: 0;
  padding: 12px 40px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99;

  p {
    display: inline;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 20px;
  }

  > p:first-of-type::before {
    font-size: 1.6rem;
    margin-right: 8px;
    top: 1px;
    position: relative;
  }

  /* If there are multiple errors listed sequentially, this will change all but the first to lower-case so there aren't random capital letters in the middle of a sentence. */
  p:not(:first-of-type) {
    text-transform: lowercase;
  }

  #alert-close {
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 55px;
    cursor: pointer;

    &:after {
      content: $icon-close;
      font-size: 1.4rem;
      color: #fff;
    }

    @media all and (max-device-width: $mobile-width) {
      top: 13px;
      right: 30px;
    }
  }

  @media all and (max-device-width: $mobile-width) {
    height: 50px;
    padding: 13px 20px;
    font-size: 1.6rem;

    > p:first-of-type::before {
      font-size: 1.8rem;
    }
  }
}

/* Style for positive alerts. */
.alert-success {
  background-color: $color-success;

  > p:first-of-type::before {
    content: $icon-checkmark;
  }
}

/* Style for informative alerts. */
.alert-info {
  background-color: $color-info;

  > p:first-of-type::before {
    content: $icon-info;
  }
}

/* Style for less severe errors. */
.alert-warning {
  background-color: $color-warning;

  > p:first-of-type::before {
    content: $icon-warning;
  }
}

/* Style for "dangerous" errors. */
.alert-danger {
  background-color: $color-danger;

  > p:first-of-type::before {
    content: $icon-danger;
  }
}
