@import "scss-variables";

$footer-background: #fff;
$footer-color: #333;
$footer-link-color: #333;

#footer {
  background: #fff;
  padding: 6px 40px;
  border-top: 1px solid #aaaab2;
  width: 100%;
  font-size: 1.6rem;
  height: 60px;
  margin: 0;
  position: relative;

  @media all and (max-width: $mobile-width) {
    height: 65px;
  }

  .footer-logo {
    display: block;
    margin: auto;

    a {
      text-decoration: none;
      
      > p {
        opacity: 0.8;
        transition: 200ms opacity;
        
        &:hover {
          opacity: 1;
        }
      }
    }

    @media all and (min-width: $mobile-width) {
      float: left;
      margin-top: 0;
    }
  }

  ul {
    line-height: 1.4em;
    margin: 0 0 1em 0;
    padding: 0;
    
    @media all and (min-width: $mobile-width) {
      float: left;
      line-height: 1.8em;
      margin-left: 1em;
      margin-bottom: 0;
    }

    li {
      font-weight: 300;
      list-style: none;

      > p {
        opacity: 0.6;
      }
    
      @media all and (min-width: $mobile-width) {
        display: inline-block;
        text-align: left;
      }
    }
  }

  .footer-left {
    position: absolute;
    left: 40px;
    padding: 8px 0;

    li {
      font-size: 1.2rem;

      a {
        color: $footer-link-color;
        text-decoration: none;
        opacity: 0.6;
        transition: opacity 250ms;

        &:focus,
        &:hover {
          opacity: 1;
        }
      }
    }

    @media all and (max-width: $mobile-width) {
      left: 20px;
      padding-top: 12px;
    }
  }

  .footer-center {
    display: -webkit-flex;
    display: flex;
    position: absolute;
    width: 50vw;
    margin: auto;
    left: 25vw;
  }

  .footer-right {
    color: $footer-link-color;
    text-decoration: none;
    padding-top: 2px;
    position: absolute;
    right: 40px;

    li a {
      text-decoration: none;
      opacity: 0.6;
      transition: opacity 250ms;
      width: 25px;
      height: 25px;
      display: block;

      span {
        font-size: 1.4rem;
      }

      &:focus,
      &:hover {
        opacity: 1;
      }
    }

    @media all and (max-width: $mobile-width) {
      right: 20px;
    }
  }
}