@import "scss-variables";

.request-queue-subtitle {
  padding: 10px 0;

  span {
    float: right;
    padding-left: 20px;

    &.approve a {
      color: $color-success;
    }

    &.reject a {
      color: $color-danger;
    }

    a {
      text-decoration: none;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }
}
