@import "scss-variables";

#frontpage-container {
  display: flex;
  flex-flow: row wrap;
  width: calc(100vw - 40px);
  margin: 30px 20px;
  justify-content: center;

  @media all and (max-device-width: $mobile-width) {
    width: 100vw;
    margin: 20px 0;
  }
}

#frontpage-header {
  width: 100%;
  display: block;
  margin-top: 40px;
}

.subheader {
  font-size: 1.4rem;
  font-weight: 200;
  text-align: center;
  padding: 2px;
}

.frontpage-column {
  display: block;
  width: 350px;
  margin: 15px 30px;
  font-size: 8px;

  @media all and (max-device-width: $mobile-width) {
    width: calc(100vw - 20px);
    margin: 10px;
  }

  .fd-list .fd-list-item {
    padding: 10px 0;
  }
}

.frontpage-list-header {
  font-size: 1.6rem;
  font-weight: 500;
  border-bottom: 1px solid rgba(#333,0.5);
  padding: 5px 0;
}
