@import "scss-variables";

// Generic CSS classes

.page-options {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  padding: 20px 0;
  font-size: 1.6rem;

  li {
    display: inline-block;
    margin-right: 20px;
  }

  a, input[type=submit] {
    opacity: 0.7;
    transition: 250ms opacity;

    &:hover, &:focus {
      opacity: 1;
    }
  }

  a {
    text-decoration: none;
  }

  input[type=submit] {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    font-weight: 600;

    &:disabled {
      cursor: default;
      opacity: 0.4;
    }

    &:focus {
      outline: transparent;
    }
  }
}