@import "scss-variables";

// Generic CSS classes
// "fd" is short for Fiction Dock

.fd-container {
  margin: auto;
  width: 100%;
  max-width: 700px;

  @media screen and (max-width: $mobile-width) {
    width: calc(100vw - 40px);
    max-width: 100vw;
  }
}

.fd-list {
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding-top: 10px;

  &.fd-browse-list {
    padding-top: 50px;

    @media screen and (max-width: $mobile-width) {
      padding-top: 10px;
    }
  }

  .fd-list-header {
    font-size: 2.4rem;
    font-weight: 500;
    border-bottom: 1px solid rgba(#333,0.5);
    padding: 5px 0;
  }

  .fd-list-item {
    padding: 15px 0;
    display: block;

    &:not(:first-of-type) {
      border-top: 1px solid rgba(#333,0.2);
    }

    .fd-list-item-title {
      font-size: 1.8em;
      font-weight: 500;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;  
        }
      }
    }

    .fd-list-item-subtitle {
      font-size: 1.5em;
      line-height: 1.4em;
      padding-top: 6px;
      
      span {
        font-weight: 600;
      }
    }
  }

  @media screen and (max-width: $mobile-width) {
    width: calc(100vw - 40px);
    max-width: 100vw;
    margin: auto;
  }
}

.fd-list-empty-note {
  font-size: 1.4rem;
  color: #aaaab2;
  text-align: center;
  font-weight: 300;
  padding: 25px 5px;
}

.fd-text-container {
  margin: auto;
  width: 100%;
  max-width: 700px;
  padding-top: 10px;
  padding-bottom: 40px;

  &.fd-padding-top {
    padding-top: 60px;
  }

  @media screen and (max-width: $mobile-width) {
    width: calc(100vw - 40px);
    max-width: 100vw;
  }
}

.fd-toolbar-container {
  width: 100vw;
  height: 50px;
  border-bottom: 1px solid rgba(0,0,0,0.05);

  .fd-toolbar {
    width: 100%;
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .fd-toolbar-left {
      li {
        padding: 16px 20px 14px 0;
      }

      a {
        font-size: 1.4rem;
        color: #333;
        text-decoration: none;

        &:hover, &:focus {
          opacity: 1;
          text-decoration: underline;
        }
      }
    }

    .fd-toolbar-right {
      li {
        padding: 16px 0 14px 20px;
      }

      a, input[type=submit] {
        color: #333;
        opacity: 0.7;
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 500;
        transition: 200ms opacity;

        &:hover, &:focus {
          opacity: 1;
          outline: none;
        }
      }

      input[type=submit] {
        background-color: transparent;
        border: 0;

        &:disabled {
          cursor: default;
          opacity: 0.4;
        }
      }
    }

    ul {
      list-style: none;

      li {
        display: inline-block;
      }
    }
  }
}

.fd-page-options {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  padding: 20px 0;
  font-size: 1.6rem;

  li {
    display: inline-block;
    margin-right: 20px;
  }

  a, input[type=submit] {
    opacity: 0.7;
    transition: 250ms opacity;

    &:hover, &:focus {
      opacity: 1;
    }
  }

  a {
    text-decoration: none;
  }

  input[type=submit] {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    font-weight: 600;

    &:disabled {
      cursor: default;
      opacity: 0.4;
    }

    &:focus {
      outline: transparent;
    }
  }
}

.fd-page-header {
  font-size: 3.2rem;
  font-weight: 500;
}

.fd-page-subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  padding-top: 10px;
}

.fd-page-backlink {
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 5px;

  a {
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.fd-form {
  margin: auto;
  width: 100%;
  max-width: 700px;
  padding-top: 40px;
  padding-bottom: 60px;
  font-size: 1.4rem;
  position: relative;

  label {
    display: block;
    padding: 12px 0 4px;
  }

  textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 400px;
  }

  input[type=text], textarea {
    width: 100%;
    display: block;
    padding: 8px;
    font-size: 1.4rem;

    &.hidden {
      display: none;
    }
  }

  input[type=submit] {
    position: absolute;
    right: 0;
    background-color: transparent;
    opacity: 0.7;
    margin-top: 15px;
    font-size: 1.4rem;
    transition: opacity 200ms;

    &:hover, &:focus {
      opacity: 1;
      outline: none;
    }
  }

  .select-container {
    display: inline-block;
    width: calc(50% - 2px);
    position: relative;

    &:first-of-type {
      margin-right: 10px;
    }
  }

  select {
    width: 100%;
    background-color: transparent;
    color: #333;
    border: 1px solid #aaa;
    -webkit-appearance: none;
    padding: 8px;
    font-size: 1.4rem;
    margin-bottom: 5px;
    border-radius: 0;
    cursor: pointer;
    position: relative;
    transition: 200ms;
    font-weight: 300;

    + span {
      position: absolute;
      top: 43px;
      right: 12px;
      pointer-events: none;
      color: #aaaab2;
      font-size: 1.6rem;
      transition: color 200ms;
    }

    &:hover, &:focus {
      border-color: #333;
      outline: transparent;

      + span {
        color: #333;
      }
    }
  }

  @media screen and (max-width: $mobile-width) {
    width: calc(100vw - 20px);
    max-width: 100vw;
    padding-top: 10px;
  }
}

.pagination-container {
  width: 100%;
  text-align: center;
  display: block;
  padding: 10px 0 20px;
}

.pagination {
  margin: 10px auto;
  font-size: 1.6rem;
  position: relative;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 8px 0;
  text-align: center;
  display: inline-block;
  overflow: hidden;

  em {
    font-style: normal;
    font-weight: 600;
    padding: 10px;
    border-right: 1px solid #ddd;
    cursor: default;
  }

  a {
    margin: 0;
    padding: 10px;
    border-right: 1px solid #ddd;
    text-decoration: none;

    &.next_page {
      border-right: none;
    }

    &:last-of-type + em {
      border-right: none;
    }

    &:hover {
      background-color: rgba(#aaaab2,0.2);
    }
  }

  span {
    padding: 10px;

    &.next_page {
      border-left: 1px solid #ddd;
    }

    &.previous_page {
      border-right: 1px solid #ddd;
    }

    &.disabled {
      color: #aaaab2;
      cursor: default;
      background-color: rgba(#aaaab2,0.05);
    }
  }
}

.pagination-absolute {
  position: relative;
  font-size: 1.6rem;
  width: 100%;
  height: 24px;

  .pagination-left, .pagination-right {
    position: absolute;

    > a {
      text-decoration: none;
    }
  }

  .pagination-left {
    left: 2px;
  }

  .pagination-right {
    right: 2px;
  }
}
