@import "scss-variables";

#main-header {
  font-size: 1.4rem;
  background-color: #fff;
  width: 100vw;
  height: 40px;
  position: fixed;
  border-bottom: 1px solid #aaaab2;
  z-index: 100;
  white-space: nowrap;

  @media all and (max-device-width: $mobile-width) {
    height: 50px;
  }
}

.header-left {
  position: absolute;
  left: 30px;

  .header-item > a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  @media all and (max-device-width: $mobile-width) {
    left: 20px;
  }
}

.header-right {
  position: absolute;
  right: 40px;

  @media all and (max-device-width: $mobile-width) {
    left: 60px;
  }
}

.header-item {
  color: #333;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 12px 15px 0;
  transition: color 300ms ease-in-out;
  vertical-align: top;

  a {
    color: #333;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  input {
    font-size: 1.4rem;
    padding: 0;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
  
  @media all and (max-device-width: $mobile-width) {
    padding: 15px 15px;
  }
}

#create-button {
  height: 100%;
  display: block;
  cursor: pointer;
  position: relative;
  
  .octicon-plus {
    font-size: 18px;
  }
}

.dropdown-caret {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  vertical-align: -1px;
  border: 4px solid;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.tooltip {
  display: none;
  position: absolute;
  top: 42px;
  z-index: 100;
  width: 180px;
  margin-top: 2px;
  margin-left: -80px;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);

  &:before {
    position: absolute;
    top: -16px;
    left: 79px;
    display: inline-block;
    content: "";
    border: 8px solid transparent;
    border-bottom-color: rgba(0,0,0,0.15);
  }

  &:after {
    position: absolute;
    top: -14px;
    left: 80px;
    display: inline-block;
    content: "";
    border: 7px solid transparent;
    border-bottom-color: #fff;
  }

  &.active {
    display: block;
  }

  ul {
    padding: 2px 0;

    li {
      height: 32px;
      width: 100%;
    
      a {
        display: block;
        padding: 8px 10px;
        text-decoration: none;

        &:hover {
          text-decoration: none;
          background-color: #f4f4f4;
        }
      }
    }
  }
}
