@import "scss-variables";

#main-header {
  font-size: 1.4rem;
  background-color: #eeeeee;
  width: 100vw;
  height: 45px;
  top: 0;
  position: fixed;
  z-index: 100;
  white-space: nowrap;

  li {
    display: block;
  }

  @media screen and (max-width: $mobile-width) {
    height: 50px;
  }
}

.header-left {
  position: absolute;
  left: 30px;

  .header-item > a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  @media screen and (max-width: $mobile-width) {
    left: 0;
  }
}

.header-right {
  position: absolute;
  right: 90px;

  @media screen and (max-width: $mobile-width) {
    right: 0;
  }
}

.header-item {
  color: #333;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0 15px;
  transition: color 300ms ease-in-out;
  vertical-align: top;
  height: auto;

  a {
    color: #333;
    text-decoration: none;
    background-color: transparent;

    &:hover {
      text-decoration: underline;
    }
  }

  > a {
    padding-top: 13px;
    display: inline-block;
  }

  > .header-item-title {
    cursor: pointer;
    height: 45px;
    padding: 13px 0;
  }

  &.header-item-with-flyout {
    position: relative;
    overflow-y: hidden;
    max-height: 45px;
    cursor: pointer;
    transition: max-height 400ms, box-shadow 200ms 400ms, background-color 200ms 400ms;

    &:hover {
      background-color: #fff;
      box-shadow: 0 3px 12px rgba(0,0,0,0.15);
      max-height: 500px;
      transition: max-height 400ms;
      cursor: default;
    }
  }

  &.fiction-dock-logo {
    padding: 5px;
    margin-right: 15px;

    > a {
      padding: 0;
    }
  }
  
  @media screen and (max-width: $mobile-width) {
    padding: 15px 15px;
  }
}

#header-search {
  position: relative;
  width: 245px;

  input[type=search] {
    width: 240px;
    height: 32px;
    top: 7px;
    left: 5px;
    padding: 6px 6px 6px 30px;
    font-size: 1.4rem;
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 1px solid #aaaab2;
    border-radius: 2px;
    transition: border 200ms;

    &:focus {
      border: 1px solid #333;
      outline: none;
    }
  }

  label {
    position: absolute;
    left: 13px;
    top: 9px;
    color: #aaaab2;

    span {
      font-size: 1.0rem;
    }

    &:focus {
      color: #333;
    }
  }

  @media screen and (max-width: $mobile-width) {
    display: none;
  }
}

.browse {
  @media screen and (max-width: $mobile-width) {
    position: absolute;
    top: 0;
    padding: 4px 10px 10px;
    left: 60px;
  }
}

#browse-button,
#create-button {
  height: 100%;
  display: block;
  cursor: pointer;
  position: relative;
  padding-top: 14px;
}

.header-item.dark-mode {
  @media screen and (max-width: $mobile-width) {
    position: absolute;
    top: 0;
    right: 20px;
    padding: 2px;
  }
}

#dark-mode-toggle {
  cursor: pointer;
  padding-right: 0;
  padding-top: 8px;
  display: inline-block;
}

#create-button {
  margin-top: -6px;

  span {
    font-size: 1.2rem;
  }

  .dropdown-caret {
    vertical-align: -8px;
  }

  @media screen and (max-width: $mobile-width) {
    display: none;
  }
}

.dropdown-caret {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  vertical-align: -1px;
  border: 4px solid;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.sign-in,
.create-an-account {
  padding-top: 2px;
  
  @media screen and (max-width: $mobile-width) {
    display: none;
  }
}

#username {
  @media screen and (max-width: $mobile-width) {
    display: none;
  }
}

.tooltip {
  display: none;
  position: absolute;
  top: 45px;
  z-index: 100;
  width: auto;
  min-width: 100px;
  margin-top: 2px;
  margin-left: -10%;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);

  &:before {
    position: absolute;
    top: -16px;
    display: inline-block;
    content: "";
    border: 8px solid transparent;
    border-bottom-color: rgba(0,0,0,0.15);
  }

  &:after {
    position: absolute;
    top: -14px;
    display: inline-block;
    content: "";
    border: 7px solid transparent;
    border-bottom-color: #fff;
  }

  &.active {
    display: block;
  }

  ul {
    padding: 2px 0;

    li {
      height: 32px;
      width: 100%;
    
      a {
        display: block;
        padding: 8px 40px 8px 10px;
        text-decoration: none;
        background-color: transparent;

        &:hover {
          text-decoration: none;
          background-color: #f4f4f4;
        }
      }
    }
  }
}

#create-tooltip {
  &:before {
    left: 36px;
  }

  &:after {
    left: 37px;
  }
}

#browse-tooltip {
  &:before {
    left: 79px;
  }

  &:after {
    left: 80px;
  }
}

.flyout {
  position: relative;
  list-style: none;
  min-width: 100px;
  font-size: 1.4rem;
  background-color: #fff;

  ul {
    position: relative;

    li {
      height: 32px;
      -webkit-transform: translate(-15px,-5px);
              transform: translate(-15px,-5px);
      width: calc(100% + 30px);
    
      a, input {
        width: 100%;
        display: block;
        padding: 8px 50px 8px 15px;
        text-decoration: none;
        background-color: transparent;
        text-align: left;

        &:hover {
          text-decoration: none;
          background-color: #f4f4f4;
        }
      }

      input {
        font-size: 1.4rem;
        border: none;
        opacity: 1;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

#header-notifications {
  display: inline-block;
  position: relative;
}

#notifications-flyout {
  position: absolute;
  top: 45px;
  right: 0;
  display: none;
  background-color: #fff;
  border-left: 1px solid #aaaab2;
  border-right: 1px solid #aaaab2;

  &.active {
    display: inline-block;
  }
}

#general-info {
  position: absolute;
  top: 0;
  right: 40px;
  height: 45px;
  width: 32px;
  cursor: pointer;
  z-index: 1000;
  padding: 15px 10px 0;
  transition: background-color 200ms 400ms;

  span {
    font-size: 2.0rem;
    margin-top: -5px;
    padding: 0 4px;
  }

  &.active {
    background-color: #fff;
    box-shadow: 0 -8px 11px 1px rgba(0, 0, 0, 0.15);
    transition: background-color 0ms;
  }

  @media screen and (max-width: $mobile-width) {
    display: none;
  }
}

#general-info-flyout {
  position: absolute;
  top: 45px;
  right: 40px;
  height: auto;
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 400ms;
  z-index: 999;
  transition: max-height 400ms, box-shadow 200ms 400ms, background-color 200ms 400ms;

  &.active {
    background-color: #fff;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
    max-height: 500px;
    transition: max-height 400ms;
  }

  ul {
    position: relative;

    li {
      height: 32px;

      a {
        width: 100%;
        display: block;
        padding: 8px 50px 8px 15px;
        text-decoration: none;
        background-color: transparent;
        text-align: left;

        &:hover {
          text-decoration: none;
          background-color: #f4f4f4;
        }
      }
    }
  }
}
