@import "scss-variables";

#main-header {
  font-size: 1.4rem;
  background-color: #fff;
  width: 100vw;
  height: 40px;
  position: fixed;
  border-bottom: 1px solid #aaaab2;

  a {
    text-decoration: none;
  }
}

.header-left {
  position: absolute;
  left: 40px;
}

.header-right {
  position: absolute;
  right: 40px;
}

.header-item {
  color: #333;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 12px 15px 0;
  transition: color 300ms ease-in-out;
  vertical-align: top;

  a {
    color: #333;
    text-decoration: none;
    transition: color 300ms ease-in-out;
  }

  input {
    font-size: 1.4rem;
    padding: 0;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  
  @media all and (max-device-width: $mobile-width) {
    padding: 15px 15px;
  }
}

.fiction-dock-logo {
  font-family: 'fiction-dock-logo';
  letter-spacing: 2px;

  &:first-letter {
    padding-right: .1em;
  }

  &.logo-header {
    font-size: 3.2rem;
    cursor: pointer;
  }

  &.logo-large {
    // Why does this work? I honestly don't know.
    transform: translateX(-25%);
    width: 200%;
    font-size: 6.4rem;
    text-align: center;
    cursor: default;
  }
}
