@import "scss-variables";

#main-header {
  font-size: 1.4rem;
  background-color: #fff;
  width: 100vw;
  height: 40px;
  position: fixed;
  border-bottom: 1px solid #aaaab2;
  z-index: 100;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  a {
    text-decoration: none;
  }

  @media all and (max-device-width: $mobile-width) {
    height: 50px;
  }
}

.header-left {
  position: absolute;
  left: 40px;

  @media all and (max-device-width: $mobile-width) {
    left: 20px;
  }
}

.header-right {
  position: absolute;
  right: 40px;

  @media all and (max-device-width: $mobile-width) {
    left: 60px;
  }
}

.header-item {
  color: #333;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 12px 15px 0;
  transition: color 300ms ease-in-out;
  vertical-align: top;

  a {
    color: #333;
    text-decoration: none;
    transition: color 300ms ease-in-out;
  }

  input {
    font-size: 1.4rem;
    padding: 0;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  
  @media all and (max-device-width: $mobile-width) {
    padding: 15px 15px;
  }
}

#dark-mode-toggle {
  cursor: pointer;
}
