@import "scss-variables";

.fiction-dock-logo {
  font-family: 'fiction-dock-logo';
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;

  &:first-letter {
    padding-right: .1em;
  }

  &.logo-header {
    font-size: 3.2rem;
    cursor: pointer;

    @media all and (max-device-width: $mobile-width) {
      font-size: 4.0rem;
      color: transparent;
      width: 40px;
      padding-left: 6px;

      &:first-letter {
        color: #333;
      }
    }
  }

  &.logo-large {
    // Why does this work? I honestly don't know.
    transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    width: 200%;
    font-size: 7.2rem;
    text-align: center;
    cursor: default;

    @media all and (max-device-width: $mobile-width) {
      font-size: 4.2rem;
    }
  }
}
