@import "scss-variables";

.fiction-dock-logo {
  font-family: 'fiction-dock-logo';
  letter-spacing: 2px;

  &:first-letter {
    padding-right: .1em;
  }

  &.logo-header {
    font-size: 3.2rem;
    cursor: pointer;
  }

  &.logo-large {
    // Why does this work? I honestly don't know.
    transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    width: 200%;
    font-size: 7.2rem;
    text-align: center;
    cursor: default;

    @media all and (max-device-width: $mobile-width) {
      font-size: 4.2rem;
    }
  }
}
