@import "scss-variables";

.fiction-dock-wordmark {
  background: asset-url("fiction-dock-wordmark.svg") 50% / contain no-repeat;
  width: auto;

  &.logo-large {
    height: 60px;
  }
}

.fiction-dock-f {
  background: asset-url("fiction-dock-f.svg") 50% / contain no-repeat;
  
  &.logo-large {
    height: 100px;
  }

  &.logo-header {
    height: 35px;
    width: 35px;

    @media screen and (max-width: $mobile-width) {
      height: 40px;
      width: 40px;
      position: absolute;
      top: 5px;
      left: 10px;
      padding: 0;
    }
  }

  &.logo-footer {
    height: 45px;
    width: 45px;
  }
}
