@import "scss-variables";

/* Styling for sign-in container, used on all registration-related pages (e.g. sign-in, sign-up, forgot password, etc.) */
#sign-in-container {
  display: block;
  margin: auto;
  margin-top: 100px;
  position: relative;
  text-align: left;
  width: 350px;

  /* "Header" for the registration pages that acts as a page title. */
  .sign-in-header {
    padding: 10px 0;
    text-align: center;
    margin: 30px auto;

    img {
      width: 200px;
      pointer-events: none;
      margin: auto;
    }

    h4 {
      font-weight: 200;
      font-size: 1.8rem;
      color: #777;
      padding-top: 5px;
    }
  }

  /* Styling for the submit button on registration pages. */
  input[type=submit] {
    margin-top: 12px;
    margin-bottom: 8px;
  }
}

/* Styling applied to all text-input fields in the registration pages. */
.field {
  color: #333;
  margin: auto;
  padding: 5px auto;
  position: relative;
  width: 100%;
}

/* Styling for the text, email, and password fields specifically. */
.field input[type=text],
.field input[type=email],
.field input[type=password] {
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #aaaab2;
  color: #333;
  font-size: 1.4rem;
  font-weight: 400;
  height: 35px;
  margin: 5px auto;
  padding: 0 8px;
  transition: all 300ms ease;
  width: 100%;

  &:focus {
    border-color: #333;
    outline: transparent;
  }
}

/* Styling for "Remember me" checkbox. */
.field input[type=checkbox] {
  display: inline-block;
  -webkit-appearance: none;
  border: 1px solid #aaaab2;
  border-radius: 2px;
  height: 16px;
  width: 16px;
  margin: 5px 2px 0 1px;
  vertical-align: bottom;

  /* Semi-transparent square on-hover. */
  &:hover {
    font-size: 1.8rem;
    line-height: 16px;
    color: #333;
    cursor: pointer;

    &:after {
      content: $icon-checkmark;
      opacity: 0.3;
      position: relative;
      bottom: 3px;
      left: 1px;
      text-align: center;
    }
  }

  &:focus {
    outline: transparent;
  }

  + label {
    margin-left: 2px;
  }
}

/* Styling for "Remember me" checkbox when checked. */
.field input[type=checkbox]:checked {
  border: 1px solid #333;
  background-color: transparent;

  /* Black square on-checked. */
  &:after {
    content: $icon-checkmark;
    opacity: 1;
    font-size: 1.8rem;
    line-height: 16px;
    position: relative;
    bottom: 3px;
    left: 1px;
    text-align: center;
  }
}

/* Styling for field labels. Labels are an HTML element, see the MDN for more information. */
.field label {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  top: 1px;

  &:hover {
    cursor: pointer;
  }
}

/* Sign-in extras are the links below the sign-in container (e.g. forgot password, sign up, etc.) */
#sign-in-extras-container {
  display: block;
  height: auto;
  left: 0;
  margin: 10px auto 75px;
  padding: 0;
  text-align: center;
  position: relative;
  right: 0;
  width: 360px;
}

/* Class used to separate each row of sign-in extras, this allows the buttons to change size responsively depending on the registration page the user is viewing. */
.sign-in-extras-row {
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  color: #aaaab2;
  margin-bottom: 8px;

  a {
    color: #333;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @media all and (max-device-width: $mobile-width) {
    font-size: 1.4rem;
    margin-bottom: 12px;
  }
}
