@import "scss-variables";

.story-text {
  font-family: 'Lora', 'Minion Pro', Georgia, Cambria, 'Times New Roman', Times, serif;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  h1 {
    font-size: 3.2rem;
    line-height: 48px;
    margin-top: 40px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 2.4rem;
    line-height: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  h1 + h2 {
    margin-top: 5px;
  }

  hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid currentColor;
    opacity: 0.5;
  }

  br {
    line-height: 50px;
  }

  &.simple-font {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

.story-toolbar-container {
  width: 100vw;
  height: 50px;
  border-bottom: 1px solid rgba(0,0,0,0.05);

  .story-toolbar {
    width: 100%;
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .story-toolbar-left {
      p {
        font-size: 1.4rem;
        font-weight: 500;

        &:last-of-type {
          font-size: 1.2rem;
          font-weight: 400;
        }
      }

      li {
        padding: 10px 5px;
      }

      a {
        color: #333;
        text-decoration: none;

        &:hover, &:focus {
          opacity: 1;
          text-decoration: underline;
        }
      }
    }

    .story-toolbar-right {
      a, input[type=submit] {
        color: #333;
        opacity: 0.7;
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 500;
        margin: 14px 10px;
        padding: 2px;
        transition: 200ms opacity;

        &:hover, &:focus {
          opacity: 1;
          outline: none;
        }
      }

      input[type=submit] {
        background-color: transparent;
        border: 0;

        &:disabled {
          cursor: default;
          opacity: 0.4;
        }
      }
    }

    ul {
      list-style: none;

      li {
        display: inline-block;
      }
    }
  }
}

.story-directory {
  text-align: left;
  display: flex;
  flex-flow: column wrap;
  padding-top: 40px;
  width: 100%;
  max-width: 700px;
  margin: auto;

  h2 {
    font-size: 3.2rem;
    line-height: 45px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  @media screen and (max-width: $mobile-width) {
    width: calc(100vw - 40px);
    max-width: 100vw;
  }
}

.story-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.story-information {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 500;
  text-align: left;
  position: relative;
  flex: 1;
  font-size: 1.4rem;
  font-weight: 400;
}

.story-description {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
}

.table-of-contents {
  width: auto;
  margin: auto;
  display: block;
  min-height: 80px;
}

.toc-chapter-list {
  font-size: 1.8rem;
  text-align: left;
  width: 100%;
  margin: auto;
  margin-top: 40px;
  max-width: 500px;

  li {
    white-space: nowrap;
    display: block;
    line-height: 3.6rem;
    position: relative;
    margin-left: 45px;

    &:before {
      position: absolute;
      content: attr(data-chapter-number);
      left: -24px;
    }
  }

  .add-new-chapter {
    display: inline-block;

    a {
      color: #333;
      opacity: 0.6;
      text-decoration: none;
      display: block;
    }

    &:hover a {
      opacity: 1;
    }
  }
}

.story-extra-information {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-top: 1px solid #aaaab2;
  display: flex;
  flex-flow: row wrap;
  position: relative;

  ul {
    list-style: none;

    li.list-item-header {
      color: #aaaab2;
      position: absolute;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 300;
      left: 0;
      top: 0;
      padding: 0;
      border: 0;
    }
  }

  .author,
  .published,
  .language,
  .license {
    margin-top: 5px;
    padding-top: 20px;
    position: relative;
    width: 25%;

    li {
      margin-right: 3px;
      margin-bottom: 7px;
      display: inline-block;

      a {
        text-decoration: none;

        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }

    @media screen and (max-width: $mobile-width) {
      width: 50%;
    }
  }

  .story-franchises-list,
  .story-characters-list {
    list-style: none;
    margin-top: 5px;
    padding-top: 25px;
    position: relative;
    width: 100%;

    li {
      display: inline-block;
      border: 1px solid #c9c9c9;
      border-radius: 4px;
      margin-right: 3px;
      margin-bottom: 7px;
      transition: 200ms border-color;

      a {
        color: #aaaab2;
        text-decoration: none;
        display: block;
        padding: 4px 10px;
        transition: 200ms color;
      }

      &:hover {
        border-color: #555;
        
        a {
          color: #333;
        }
      }
    }
  }
}
