@import "scss-variables";

.story-text {
  font-family: 'Lora', 'Minion Pro', Georgia, Cambria, 'Times New Roman', Times, serif;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  h1 {
    font-size: 3.2rem;
    line-height: 48px;
    margin-top: 40px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 2.4rem;
    line-height: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  h1 + h2 {
    margin-top: 5px;
  }

  hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid currentColor;
    opacity: 0.5;
  }

  br {
    line-height: 50px;
  }

  &.simple-font {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

.story-directory {
  text-align: left;
  display: flex;
  flex-flow: column wrap;
  padding-top: 40px;
  width: 100%;
  max-width: 700px;
  margin: auto;

  h2 {
    font-size: 3.2rem;
    line-height: 45px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  @media screen and (max-width: $mobile-width) {
    width: calc(100vw - 40px);
    max-width: 100vw;
  }
}

.story-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.story-favorite-button {
  top: 14px;
  left: -32px;
  position: absolute;
  height: 25px;
  width: 25px;
  overflow: hidden;

  a {
    text-decoration: none;
    opacity: 0.8;
    line-height: 26px;
    transition: opacity 200ms, color 200ms;

    &:hover {
      opacity: 1;
      color: #E95D4B;
    }
  }

  span {
    font-size: 24px;
  }

  &.favorited {
    a {
      color: #E95D4B;
    }
  }
}

// Left margin to allow room for the favorite button.
@media screen and (max-width: $mobile-width) {
  .story-favorite-button {
    left: 0;
  }

  .story-title,
  .story-description,
  .table-of-contents {
    margin-left: 32px;
  }
}


.story-information {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 500;
  text-align: left;
  position: relative;
  flex: 1;
  font-size: 1.4rem;
  font-weight: 400;
}

.story-description {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
}

.table-of-contents {
  width: auto;
  margin: auto;
  display: block;
  min-height: 80px;
}

.toc-chapter-list {
  font-size: 1.8rem;
  text-align: left;
  width: 100%;
  margin: auto;
  margin-top: 40px;
  max-width: 500px;

  li {
    white-space: nowrap;
    display: block;
    line-height: 3.6rem;
    position: relative;
    margin-left: 45px;

    &:before {
      position: absolute;
      content: attr(data-chapter-number);
      left: -24px;
    }
  }

  .add-new-chapter {
    display: inline-block;

    a {
      opacity: 0.6;
      text-decoration: none;
      display: block;
      transition: opacity 200ms;
    }

    &:hover a {
      opacity: 1;
    }
  }
}

.story-extra-information {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-top: 1px solid #aaaab2;
  display: flex;
  flex-flow: row wrap;
  position: relative;

  ul {
    list-style: none;

    li.list-item-header {
      color: #aaaab2;
      position: absolute;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 300;
      left: 0;
      top: 0;
      padding: 0;
      border: 0;
    }
  }

  .author,
  .published,
  .language,
  .license {
    margin-top: 5px;
    padding-top: 20px;
    position: relative;
    width: 25%;

    li {
      margin-right: 3px;
      margin-bottom: 7px;
      display: inline-block;

      a {
        text-decoration: none;

        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }

    @media screen and (max-width: $mobile-width) {
      width: 50%;
    }
  }

  .story-franchises-list,
  .story-characters-list {
    list-style: none;
    margin-top: 5px;
    padding-top: 25px;
    position: relative;
    width: 100%;

    li {
      display: inline-block;
      border: 1px solid rgba(#333,0.3);
      border-radius: 4px;
      margin-right: 3px;
      margin-bottom: 7px;
      transition: 200ms border-color;

      a {
        opacity: 0.7;
        text-decoration: none;
        display: block;
        padding: 4px 10px;
        transition: 200ms opacity;
      }

      &:hover {
        border-color: #333;
        
        a {
          opacity: 1;
        }
      }
    }
  }
}
