#story-franchise-container{
}

.remove-franchise-button{
  color: red;
  background-color: #FFEEEE;
  border: 1px solid red;
  display: inline;
}
.franchise-list-name{
  display: inline;
  padding-left: 100px;
}
