<%- title t(".franchise_creation_requests") %>

<ul>
  <% unless @requests.blank? %>
    <%= render partial: "franchise_creation_request", collection: @requests,
      as: :request %>
  <% else %> 
    <p><%= t(".no_franchise_requests_are_in_the_queue_right_now") %></p>
  <% end %> 
</ul>

