<footer id="footer">

  <div class="footer-left">
    <ul>
      <li><p><%= t(".fiction_dock_copyright") %></p></li>
    </ul>
  </div>

  <div class="footer-center">
    <div class="footer-logo">
      <%= link_to root_path do %>
        <div class="fiction-dock-f logo-footer"></div>
      <% end %>
    </div>
  </div>

  <div class="footer-right">
    <ul>
      <li><a href="https://github.com/noidedmedia/Fiction-Dock"><span class="icon icon-mark-github"></span></a></li>
    </ul>
  </div>
</footer>
