<footer id="footer">
  <div class="footer-logo">
    <%= link_to root_path do %>
      <p class="fiction-dock-logo logo-f">F</p>
    <% end %>
  </div>
    <div class="footer-primary-links">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="https://github.com/noidedmedia/Fiction-Dock">View source on GitHub</a></li>
      </ul>
    </div>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="#">Terms and Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><p>© 2015 Noided Media</p></li>
      </ul>
    </div>
</footer>