<header id="main-header">
  <div class="header-left">
    <%= link_to root_path do %>
      <p class="fiction-dock-logo logo-header">Fiction Dock</p>
    <% end %>
  </div>

  <div class="header-right">
    <%= link_to t(".create_an_account"), new_user_registration_path %>
    <%= link_to t(".sign_in"), new_user_session_path %>
  </div>

</header>